
html,body {
	margin: 0px;
	height: 100%;
}

#test-editormd{
	margin-left: 20px;
}
#title{
	width: 500px;
}
#bloglist{
	width: 600px;
	min-height: 500px;
	display: none;
	margin: auto;
}
#bloglist-table{
	width: 550px;
	text-align: center;
}
#bloglist-table tr{
	height: 35px;
}
#bloglist-table td{
	width: 20%;
}
